<<<<<<< HEAD
div .div-container{
    width: 100%;
    min-width: 100vh;

=======
div .div-container{
    width: 100%;
    min-width: 100vh;

>>>>>>> c8762d3 (Primeiro Commit com atualizações e criações da estrutura inicial do projeto do Front-end)
}